http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.actor.searchActorsTypeahead?q=political%20science
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2996'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"actors":[{"did":"did:plc:xzzesxndb6f3xsp2phcfhb5n","handle":"bjpols.bsky.social","displayName":"British
        Journal of Political Science","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:xzzesxndb6f3xsp2phcfhb5n/bafkreihcliepselqzldk3t5zjfc5t6tv7p3if2ios5p266brk4vjur4yxq@jpeg","associated":{"chat":{"allowIncoming":"following"}},"viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-10-05T11:25:58.672Z"},{"did":"did:plc:vlx4qfwltlkhhgxavhe6a4iq","handle":"pspolisci.bsky.social","displayName":"PS:
        Political Science & Politics","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:vlx4qfwltlkhhgxavhe6a4iq/bafkreidlfczmfdjhksxv5ufwqkz2gmqgirhipcenvj2de7jasx5nmpeqo4@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-11-08T20:46:34.135Z"},{"did":"did:plc:iyeak3ppl3oqnxpr3v7tvmuj","handle":"cambup-polsci.cambridge.org","displayName":"Ca[...]
