http_interactions:
- request:
    method: GET
    uri: https://puffball.us-east.host.bsky.network/xrpc/chat.bsky.convo.listConvos?status=accepted&limit=5
  response:
    status: 200
    headers:
      ratelimit-limit: '3000'
      ratelimit-remaining: '2996'
      ratelimit-reset: '1747924529'
      ratelimit-policy: 3000;w=300
      content-type: application/json; charset=utf-8
    body:
      string: "{\"convos\":[{\"id\":\"3ku7w6h4vog2d\",\"rev\":\"2222223e3prru\",\"members\":[{\"did\":\"did:plc:5c2r73erhng4bszmxlfdtscf\",\"handle\":\"bskyr.bsky.social\",\"displayName\":\"bskyr
        R package\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg\",\"associated\":{\"lists\":30,\"feedgens\":0,\"starterPacks\":9,\"labeler\":false},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"knownFollowers\":{\"count\":2,\"followers\":[{\"did\":\"did:plc:wpe35pganb6d4pg4ekmfy6u5\",\"handle\":\"chriskenny.bsky.social\",\"displayName\":\"Chris
        Kenny\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:wpe35pganb6d4pg4ekmfy6u5/bafkreibbgv73dk7lk4qrij5xm7vri3m6hfgfxqylxbal6yau7ssieqav3a@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3lpcvwevybs2p\",\"followedBy\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.follow/3kchl2sce7p2i\"},\"labels\":[],\"createdAt\":\"2023-09-19T15:47:01.417Z\"},{\"did\":\"did:plc:qnzaaisqa3lafzmtjxt5nt52\",\"handle\":\"cranupdates.bsky.social\",\"displayName\":\"CRAN
        Updates\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:qnzaaisqa3lafzmtjxt5nt52/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3kgupfuy76i24\",\"followedBy\":\"at://did:plc:qnzaaisqa3lafzmtjxt5nt5[...]
