http_interactions:
- request:
    method: GET
    uri: https://puffball.us-east.host.bsky.network/xrpc/chat.bsky.convo.getMessages?convoId=3ku7w6h4vog2d&limit=10
  response:
    status: 200
    headers:
      ratelimit-limit: '3000'
      ratelimit-remaining: '2998'
      ratelimit-reset: '1747924529'
      ratelimit-policy: 3000;w=300
      content-type: application/json; charset=utf-8
    body:
      string: "{\"messages\":[{\"$type\":\"chat.bsky.convo.defs#messageView\",\"id\":\"3lpihs4gjyp2g\",\"rev\":\"2222223e3prru\",\"sender\":{\"did\":\"did:plc:5c2r73erhng4bszmxlfdtscf\"},\"text\":\"Hello\",\"reactions\":[],\"sentAt\":\"2025-05-19T01:56:19.330Z\"},{\"$type\":\"chat.bsky.convo.defs#messageView\",\"id\":\"3lpihqlkh7s26\",\"rev\":\"2222223e3pplc\",\"sender\":{\"did\":\"did:plc:5c2r73erhng4bszmxlfdtscf\"},\"text\":\"Hello\",\"reactions\":[],\"sentAt\":\"2025-05-19T01:55:28.078Z\"},{\"$type\":\"chat.bsky.convo.defs#messageView\",\"id\":\"3lphbnrx7l32l\",\"rev\":\"2222223ej42tu\",\"sender\":{\"did\":\"did:plc:wpe35pganb6d4pg4ekmfy6u5\"},\"text\":\"Can
        you hear me?\",\"reactions\":[{\"createdAt\":\"2025-05-22T14:30:24.749Z\",\"value\":\"\U0001F44D\",\"sender\":{\"did\":\"did:plc:5c2r73erhng4bszmxlfdtscf\"}}],\"sentAt\":\"2025-05-18T14:33:51.935Z\"},{\"$type\":\"chat.bsky.convo.defs#messageView\",\"id\":\"3ku7wmgfnj426\",\"rev\":\"222222226r2sq\",\"sender\":{\"did\":\"did:plc:wpe35pganb6d4pg4ekmfy6u5\"},\"text\":\"Test
        test test\",\"reactions\":[],\"sentAt\":\"2024-06-06T02:07:22.992Z\"}],\"cursor\":\"222222226r2sq\"}"
  recorded_at: 2025-05-22 14:30:30
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
