http_interactions:
- request:
    method: POST
    uri: https://puffball.us-east.host.bsky.network/xrpc/chat.bsky.convo.removeReaction
  response:
    status: 200
    headers:
      ratelimit-limit: '3000'
      ratelimit-remaining: '2994'
      ratelimit-reset: '1747924529'
      ratelimit-policy: 3000;w=300
      content-type: application/json; charset=utf-8
    body:
      string: '{"message":{"id":"3lphbnrx7l32l","rev":"2222223ej4377","sender":{"did":"did:plc:wpe35pganb6d4pg4ekmfy6u5"},"text":"Can
        you hear me?","reactions":[],"sentAt":"2025-05-18T14:33:51.935Z"}}'
  recorded_at: 2025-05-22 14:30:31
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
