http_interactions:
- request:
    method: POST
    uri: https://puffball.us-east.host.bsky.network/xrpc/chat.bsky.convo.sendMessageBatch
  response:
    status: 200
    headers:
      ratelimit-limit: '3000'
      ratelimit-remaining: '2992'
      ratelimit-reset: '1747924529'
      ratelimit-policy: 3000;w=300
      content-type: application/json; charset=utf-8
    body:
      string: '{"items":[{"id":"3lprddiuukl26","rev":"2222223ej43ao","sender":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf"},"text":"Hello","reactions":[],"sentAt":"2025-05-22T14:30:31.744Z"},{"id":"3lprddiuxid26","rev":"2222223ej43as","sender":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf"},"text":"Hi
        there","reactions":[],"sentAt":"2025-05-22T14:30:31.747Z"}]}'
  recorded_at: 2025-05-22 14:30:32
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
