http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getAuthorFeed?actor=chriskenny.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2994'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-repo-rev: 3lpis5o776z2g
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"feed\":[{\"post\":{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.feed.post/3lof7sovfok2h\",\"cid\":\"bafyreidgyvluiuegoiwctviyvw3ikiajujmukh2j5f5rc7lr6dam57v2ja\",\"author\":{\"did\":\"did:plc:wpe35pganb6d4pg4ekmfy6u5\",\"handle\":\"chriskenny.bsky.social\",\"displayName\":\"Chris
        Kenny\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:wpe35pganb6d4pg4ekmfy6u5/bafkreibbgv73dk7lk4qrij5xm7vri3m6hfgfxqylxbal6yau7ssieqav3a@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3lpcvwevybs2p\",\"followedBy\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.follow/3kchl2sce7p2i\"},\"labels\":[],\"createdAt\":\"2023-09-19T15:47:01.417Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-05T01:30:17.912Z\",\"langs\":[\"en\"],\"reply\":{\"parent\":{\"cid\":\"bafyreicdm7phlgq2kkzmcl3qwmi2b5lwzmkyh6m5wtddalfljx4bigzryi\",\"uri\":\"at://did:plc:z4cp3uwgxiioi7uaxn2boq47/app.bsky.feed.post/3lobj4swhjo2x\"},\"root\":{\"cid\":\"bafyreicdm7phlgq2kkzmcl3qwmi2b5lwzmkyh6m5wtddalfljx4bigzryi\",\"uri\":\"at://did:plc:z4cp3uwgxiioi7uaxn2boq47/app.bsky.feed.post/3lobj4swhjo2x\"}},\"text\":\"If
        you’re running this on GHA, you may now want to make sure magick is installed
        too, as the fix (I hope) for the extra background is live on CRAN now. magick
        is just a suggests for bskyr, so it may not be auto-installed.\"},\"replyCount\":1,\"repostCount\":0,\"likeCount\":0,\"quoteCount\":0,\"indexedAt\":\"2025-05-05T01:30:18.253Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]},\"reply\":{\"root\":{\"uri\":\"at://did:plc:z4cp3uwgxiioi7uaxn2boq47/app.bsky.feed.post/3lobj4swhjo2x\",\"cid\":\"bafyreicdm7phlgq2kkzmcl3qwmi2b5lwzmkyh6m5wtddalfljx4bigzryi\",\"author\":{\"did\":\"did:plc:z4cp3uwgxiioi7uaxn2boq47\",\"handle\":\"smachlis.bsky.social\",\"displayName\":\"Sharon
        Machlis\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:z4cp3uwgxiioi7uaxn2boq47/bafkreibnnnsszsequwywf4bftmirf6t7xtywu6fp7gtadwywf7ymdyrdzi@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-10-29T14:33:45.841Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-03T14:06:22.189401Z\",\"embed\":{\"$type\":\"app.bsky.embed.images\",\"images\":[{\"alt\":\"Bar
        chart of daily #RStats posts. Amounts range from around 25 in September 2024
        to peaking over 100 some days. Latest totals were 62 yesterday and 47 the
        day before.\",\"image\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreibbg3vg4ikrxzattg2jicyzudigs5uyiqtbovwv7uzoazhqxz7lmu\"},\"mimeType\":\"image/png\",\"size\":11006}}]},\"facets\":[{\"features\":[{\"$type\":\"app.bsky.richtext.facet#tag\",\"tag\":\"RStats\"}],\"index\":{\"byteEnd\":46,\"byteStart\":39}}],\"text\":\"Daily
        number of Bluesky posts with the #RStats hashtag (case insensitive) Sept.
        1 - May 2, excluding the CRAN Package Updates bot. \\nCoded with the {bskyr}
        and {ggplot2} R packages. \\n \\n[Posted via R script and weekly cron job.
        Tx for your patience if something went awry]\"},\"embed\":{\"$type\":\"app.bsky.embed.images#view\",\"images\":[{\"thumb\":\"https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:z4cp3uwgxiioi7uaxn2boq47/bafkreibbg3vg4ikrxzattg2jicyzudigs5uyiqtbovwv7uzoazhqxz7lmu@jpeg\",\"fullsize\":\"https://cdn.bsky.app/img/feed_fullsize/plain/did:plc:z4cp3uwgxiioi7uaxn2boq47/bafkreibbg3vg4ikrxzattg2jicyzudigs5uyiqtbovwv7uzoazhqxz7lmu@jpeg\",\"alt\":\"Bar
        chart of daily #RStats posts. Amounts range from around 25 in September 2024
        to peaking over 100 some days. Latest totals were 62 yesterday and 47 the
        day before.\"}]},\"replyCount\":1,\"repostCount\":1,\"likeCount\":7,\"quoteCount\":0,\"indexedAt\":\"2025-05-03T14:06:23.252Z\",\"viewer\":{\"threadMuted\":false,\"[...]
