http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getFeed?feed=at%3A%2F%2Fdid%3Aplc%3Az72i7hdynmk6r22z27h6tvur%2Fapp.bsky.feed.generator%2Fbsky-team
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2993'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"feed\":[{\"post\":{\"uri\":\"at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.post/3lpk2lf7k6k2t\",\"cid\":\"bafyreidaaxdengywsxprmry65hrco6fbpxw2mrc3oiuotabwgwxge2vony\",\"author\":{\"did\":\"did:plc:z72i7hdynmk6r22z27h6tvur\",\"handle\":\"bsky.app\",\"displayName\":\"Bluesky\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:z72i7hdynmk6r22z27h6tvur/bafkreihagr2cmvl2jt4mgx3sppwe2it3fwolkrbtjrhcnwjk4jdijhsoze@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"none\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3kchl23c5tg2j\"},\"labels\":[],\"createdAt\":\"2023-04-12T04:53:57.057Z\",\"verification\":{\"verifications\":[],\"verifiedStatus\":\"none\",\"trustedVerifierStatus\":\"valid\"}},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-19T17:05:14.470Z\",\"embed\":{\"$type\":\"app.bsky.embed.images\",\"images\":[{\"alt\":\"Bluesky
        profile with “live now” indicator\",\"aspectRatio\":{\"height\":1272,\"width\":2000},\"image\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreielfenywnbtrmlw3mqx63idia3ichqnbvfgcdksszs2rgflqljp5e\"},\"mimeType\":\"image/jpeg\",\"size\":799241}}]},\"langs\":[\"en\"],\"text\":\"We’re
        testing a new feature! Starting this week, select accounts can add a livestream
        link to sites like YouTube or Twitch, and their Bluesky profile will show
        they’re live now.\"},\"embed\":{\"$type\":\"app.bsky.embed.images#view\",\"images\":[{\"thumb\":\"https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:z72i7hdynmk6r22z27h6tvur/bafkreielfenywnbtrmlw3mqx63idia3ichqnbvfgcdksszs2rgflqljp5e@jpeg\",\"fullsize\":\"https://cdn.bsky.app/img/feed_fullsize/plain/did:plc:z72i7hdynmk6r22z27h6tvur/bafkreielfenywnbtrmlw3mqx63idia3ichqnbvfgcdksszs2rgflqljp5e@jpeg\",\"alt\":\"Bluesky
        profile with “live now” indicator\",\"aspectRatio\":{\"height\":1272,\"width\":2000}}]},\"replyCount\":171,\"repostCount\":632,\"likeCount\":2900,\"quoteCount\":365,\"indexedAt\":\"2025-05-19T17:05:19.920Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]}},{\"post\":{\"uri\":\"at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.post/3lpd3zz5gy222\",\"cid\":\"bafyreibiwuwwxds6y5ok2wgy72xl7lpu4ei2aqdam2sn2pv546xt3kzubq\",\"author\":{\"did\":\"did:plc:z72i7hdynmk6r22z27h6tvur\",\"handle\":\"bsky.app\",\"displayName\":\"Bluesky\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:z72i7hdynmk6r22z27h6tvur/bafkreihagr2cmvl2jt4mgx3sppwe2it3fwolkrbtjrhcnwjk4jdijhsoze@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"none\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3kchl23c5tg2j\"},\"labels\":[],\"createdAt\":\"2023-04-12T04:53:57.057Z\",\"verification\":{\"verifications\":[],\"verifiedStatus\":\"none\",\"trustedVerifierStatus\":\"valid\"}},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-16T22:42:40.726Z\",\"langs\":[\"en\"],\"text\":\"\U0001F4E2
        App Version 1.102 is rolling out now with a bunch of bugfixes and minor improvements.
        Also:\\n\\n• On Android, photos are now saved to the \\\"Bluesky\\\" folder\\n•
        New application language: Frisian\"},\"replyCount\":452,\"repostCount\":714,\"likeCount\":7426,\"quoteCount\":205,\"indexedAt\":\"2025-05-16T22:42:53.130Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]}},{\"post\":{\"uri\":\"at://did:plc:ewvi7nxzyoun6zhxrhs64oiz/app.bsky.feed.post/3loqxjvk3fs2c\",\"cid\":\"bafyreih4y4hprnfkfgsz6tgrysicnruwk3gboeqjpp2ctrzhxha7npvlya\",\"author\":{\"did\":\"did:plc:ewvi7nxzyoun6zhxrhs64oiz\",\"handle\":\"atproto.com\",\"displayName\":\"AT
        Protocol Developers\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:ewvi7nxzyoun6zhxrhs64oiz/bafkreibjfgx2gprinfvicegelk5kosd6y2frmqpqzwqkg7usac74l3t2v4@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"none\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-04-26T06:19:25.508Z\",\"verification\":{\"verifications\":[{\"issuer\":\"did:plc:z72i7hdynmk6r22z27h6tvur\",\"uri\":\"at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.graph.verification/3lndpv6ijlo2l\",\"isValid\":true,\"createdAt\":\"2025-04-21T10:47:29.941Z\"}],\"verifiedStatus\":\"valid\",\"trustedVerifierStatus\":\"none\"}},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-09T17:34:09.818Z\",\"embed\":{\"$type\":\"app.bsky.embed.external\",\"external\":{\"description\":\"Accounts
        in the atproto network are app-neutral: a single account can be used for short
        posts, long-form blogging, events, and more. But until now, the best way for
        users to create and manage accounts...\",\"thumb\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreieh4qn3fgsk4h7xdd6c2frnwnsc6646mjsdfzy2simconuq32afhq\"},\"mimeType\":\"image/jpeg\",\"size\":110023},\"title\":\"Network
        Account Management | Bluesky\",\"uri\":\"https://docs.bsky.app/blog/account-management\"}},\"langs\":[\"en\"],\"text\":\"are
        you a dev building an independent app on atproto and want a smoother OAuth
        account sign-up flow?\\n\\nare you a user wanting visibility and control over
        OAuth sessions?\\n\\nPDS operator wanting to add some ✨sparkle✨?\\n\\nthis
        blog post is for you!\"},\"embed\":{\"$type\":\"app.bsky.embed.external#view\",\"external\":{\"ur[...]
