http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getListFeed?list=at%3A%2F%2Fdid%3Aplc%3Aragtjsm2j2vknwkz3zp4oxrd%2Fapp.bsky.graph.list%2F3kmokjyuflk2g&limit=10
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2999'
      RateLimit-Reset: '1747930635'
      RateLimit-Policy: 3000;w=300
      atproto-repo-rev: 3lprescvxab2t
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"feed\":[{\"post\":{\"uri\":\"at://did:plc:l3ye73neiydhv3myt4fulovf/app.bsky.feed.post/3lpr6d3tk622b\",\"cid\":\"bafyreia3k7yjxiy2na2gninjcjuw5a2yuulfrlmmstwnvm5si634uqs62u\",\"author\":{\"did\":\"did:plc:l3ye73neiydhv3myt4fulovf\",\"handle\":\"oldergeeks.bsky.social\",\"displayName\":\"OlderGeeks.com\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:l3ye73neiydhv3myt4fulovf/bafkreib4mb4qvquus3zejg5ngzdmjb2a5psmk2jra5gwgxvujiue4zn6a4@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-09-20T17:26:12.575Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-22T13:00:49.358Z\",\"embed\":{\"$type\":\"app.bsky.embed.images\",\"images\":[{\"alt\":\"\",\"aspectRatio\":{\"height\":596,\"width\":1200},\"image\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreicz43j4haul7hmrl2hcuyrf24vx23kdkp2wwa4z7i7y3zvy7k6umq\"},\"mimeType\":\"image/jpeg\",\"size\":300361}}]},\"facets\":[{\"features\":[{\"$type\":\"app.bsky.richtext.facet#link\",\"uri\":\"https://www.oldergeeks.com/downloads/file.php?id=4719\"}],\"index\":{\"byteEnd\":115,\"byteStart\":81}},{\"features\":[{\"$type\":\"app.bsky.richtext.facet#tag\",\"tag\":\"Markdown\"}],\"index\":{\"byteEnd\":127,\"byteStart\":118}},{\"features\":[{\"$type\":\"app.bsky.richtext.facet#tag\",\"tag\":\"Typesetting\"}],\"index\":{\"byteEnd\":140,\"byteStart\":128}},{\"features\":[{\"$type\":\"app.bsky.richtext.facet#tag\",\"tag\":\"Publishing\"}],\"index\":{\"byteEnd\":152,\"byteStart\":141}},{\"features\":[{\"$type\":\"app.bsky.richtext.facet#tag\",\"tag\":\"DesktopPublishing\"}],\"index\":{\"byteEnd\":171,\"byteStart\":153}}],\"langs\":[\"en\"],\"text\":\"Quarkdown
        v1.1.1 \\nA free, open source & modern Markdown-based typetting system. \\nwww.oldergeeks.com/downloads/fi...
        \\n\\n#Markdown #Typesetting #Publishing #DesktopPublishing\"},\"embed\":{\"$type\":\"app.bsky.embed.images#view\",\"images\":[{\"thumb\":\"https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:l3ye73neiydhv3myt4fulovf/bafkreicz43j4haul7hmrl2hcuyrf24vx23kdkp2wwa4z7i7y3zvy7k6umq@jpeg\",\"fullsize\":\"https://cdn.bsky.app/img/feed_fullsize/plain/did:plc:l3ye73neiydhv3myt4fulovf/bafkreicz43j4haul7hmrl2hcuyrf24vx23kdkp2wwa4z7i7y3zvy7k6umq@jpeg\",\"alt\":\"\",\"aspectRatio\":{\"height\":596,\"width\":1200}}]},\"replyCount\":0,\"repostCount\":0,\"likeCount\":0,\"quoteCount\":0,\"indexedAt\":\"2025-05-22T13:00:52.711Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]}},{\"post\":{\"uri\":\"at://did:plc:l3ye73neiydhv3myt4fulovf/app.bsky.feed.post/3lpr634wsk22b\",\"cid\":\"bafyreifyavv5wx3jwploc5onc5lslxyhw2766mlkh5coclaacjbbyvr34e\",\"author\":{\"did\":\"did:plc:l3ye73neiydhv3myt4fulovf\",\"handle\":\"oldergeeks.bsky.social\",\"displayName\":\"OlderGeeks.com\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:l3ye73neiydhv3myt4fulovf/bafkreib4mb4qvquus3zejg5ngzdmjb2a5psmk2jra5gwgxvujiue4zn6a4@jpeg\",\"viewer\":{\"muted\":false,\"[...]
