http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getActorLikes?actor=bskyr.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2997'
      RateLimit-Reset: '1747685799'
      RateLimit-Policy: 3000;w=300
      atproto-repo-rev: 3lpkeyq2ifh2a
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"feed":[{"post":{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kf2577exva2x","cid":"bafyreibf5g5pkajhv4afkronrzyu3ywfk7dkjt5sdjdvkawkhcwv2l5fgu","author":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","handle":"bskyr.bsky.social","displayName":"bskyr
        R package","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-10-24T01:27:55.968Z"},"record":{"$type":"app.bsky.feed.post","createdAt":"2023-11-25T21:31:23.378179Z","embed":{"$type":"app.bsky.embed.record","record":{"cid":"bafyreiclvbut74gpys3psh3iqpzh5wdk2rgiyt35iudrkjyp62w2t5i44i","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kf24wd6cmb2a"}},"facets":[{"features":[{"$type":"app.bsky.richtext.facet#mention","did":"did:plc:5c2r73erhng4bszmxlfdtscf"}],"index":{"byteEnd":58,"byteStart":40}},{"features":[{"$type":"app.bsky.richtext.facet#link","uri":"https://christophertkenny.com/bskyr/"}],"index":{"byteEnd":96,"byteStart":60}}],"text":"Test
        quoting from r package `bskyr` via @bskyr.bsky.social (https://christophertkenny.com/bskyr/)"},"embed":{"$type":"app.bsky.embed.record#view","record":{"$type":"app.bsky.embed.record#viewRecord","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kf24wd6cmb2a","cid":"bafyreiclvbut74gpys3psh3iqpzh5wdk2rgiyt35iudrkjyp62w2t5i44i","author":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","handle":"bskyr.bsky.social","displayName":"bskyr
        R package","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-10-24T01:27:55.968Z"},"value":{"$type":"app.bsky.feed.post","createdAt":"2023-11-25T21:26:25.338233Z","facets":[{"features":[{"$type":"app.bsky.richtext.facet#mention","did":"did:plc:5c2r73erhng4bszmxlfdtscf"}],"index":{"byteEnd":61,"byteStart":43}},{"features":[{"$type":"app.bsky.richtext.facet#link","uri":"https://christophertkenny.com/bskyr/"}],"index":{"byteEnd":99,"byteStart":63}}],"reply":{"parent":{"cid":"bafyreid4i763c2iyr6adhmgriiisz2p7gleztu7tn66pfrl3qhe4hgoyny","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kexwuoyqj32g"},"root":{"cid":"bafyreid4i763c2iyr6adhmgriiisz2p7gleztu7tn66pfrl3qhe4hgoyny","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kexwuoyqj32g"}},"text":"Test
        self-reply from r package `bskyr` via @bskyr.bsky.social (https://christophertkenny.com/bskyr/)"},"labels":[],"likeCount":0,"replyCount":0,"repostCount":0,"quoteCount":10,"indexedAt":"2023-11-25T21:26:25.338Z","embeds":[]}},"replyCount":0,"repostCount":3,"likeCount":3,"quoteCount":0,"indexedAt":"2023-11-25T21:31:23.378Z","viewer":{"repost":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.repost/3lpeogiujnb2m","like":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.like/3lpkeyq2bkp2a","threadMuted":false,"embeddingDisabled":false},"labels":[]}},{"post":{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lpeonujcdg2q","cid":"bafyreiflhyorshrcxo46qf326duj4cjz6q3cx773hdxq6topzjijx4m3hy","author":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","handle":"bskyr.bsky.social","displayName":"bskyr
        R package","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-10-24T01:27:55.968Z"},"record":{"$type":"app.bsky.feed.post","createdAt":"2025-05-17T13:48:32.969930Z","text":"[vignette]
        Posting via bs_create_record()"},"replyCount":0,"repostCount":0,"likeCount":1,"quoteCount":0,"indexedAt":"2025-05-17T13:48:34.116Z","viewer":{"like":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.like/3lpeoxte47r2f","threadMuted":false,"embeddingDisabled":false},"labels":[]}},{"post":{"uri":"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.feed.post/3lktjjvxvdk2g","cid":"bafyreihqt2bkzr26gyw7az4fbyzwdsiwtxnp4omnukbxwmen3wfjmqxtyi","author":{"did":"did:plc:wpe35pganb6d4pg4ekmfy6u5","handle":"chriskenny.bsky.social","displayName":"Chris
        Kenny","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:wpe35pganb6d4pg4ekmfy6u5/bafkreibbgv73dk7lk4qrij5xm7vri3m6hfgfxqylxbal6yau7ssieqav3a@jpeg","associated":{"chat":{"allowIncoming":"following"}},"viewer":{"muted":false,"blockedBy":false,"following":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3lpcvwevybs2p","followedBy":"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.follow/3kchl2sce7p2i"},"labels":[],"createdAt":"2023-09-19T15:47:01.417Z"},"record":{"$type":"app.bsky.feed.post","createdAt":"2025-03-20T20:20:50.590Z","embed":{"$type":"app.bsky.embed.record","record":{"cid":"bafyreiai6yaqhsxj6pnfrmoofgmfaa3gdbjp66zz2fbz6rd6e6pjcke5ci","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lktj6pstuy2n"}},"facets":[{"features":[{"$type":"app.bsky.richtext.facet#tag","tag":"rstats"}],"index":{"byteEnd":42,"byteStart":35}}],"langs":["en"],"text":"Big
        quality-of-life update for the #rstats package `bskyr`. Posts including links
        with parse for embed information based on the Open Graph Protocol. \n\nThis
        also includes support for embedding Tenor Gifs, which are treated similarly.\n\nLet
        me know if you find any issues or special cases to fix!"},"embed":{"$type":"app.bsky.embed.record#view","record":{"$type":"app.bsky.embed.record#viewRecord","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lktj6pstuy2n","cid":"bafyreiai6yaqhsxj6pnfrmoofgmfaa3gdbjp66zz2fbz6rd6e6pjcke5ci","author":{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","handle":"bskyr.bsky.social","displayName":"bskyr
        R package","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2023-10-24T01:27:55.968Z"},"value":{"$type":"app.bsky.feed.post","createdAt":"2025-03-20T20:14:34.585269Z","embed":{"$type":"app.bsky.embed.external","external":{"$type":"app.bsky.embed.external","description":"opengraph
        + link cards for general embed by christopherkenny · Pull Request #18 · christopherkenny/bskyr","thumb":{"$type":"blob","ref":{"$link":"bafkreiedjsnkidltflws4ket4pk5kso3t4xeefyaneneiijid7gbkkgzo4"},"mimeType":"image/png","size":88173},"title":"opengraph
        + link cards for general embed by christopherkenny · Pull Request #18 · christopherkenny/bskyr","uri":"https://github.com/christopherkenny/bskyr/pull/18"}},"facets":[{"features":[{"$type":"app.bsky.richtext.facet#link","uri":"https://github.com/christopherkenny/bskyr/pull/18"}],"index":{"byteEnd":80,"byteStart":31}}],"text":"bskyr
        now supports link cards! https://github.com/christopherkenny/bskyr/pull/18
        is finally closed!"},"labels":[],"likeCount":2,"replyCoun[...]
