http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getPostThread?uri=at%3A%2F%2Fdid%3Aplc%3Aic6zqvuw5ulmfpjiwnhsr2ns%2Fapp.bsky.feed.post%2F3k7qmjev5lr2s
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2986'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-repo-rev: 3lpis5o776z2g
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"thread\":{\"$type\":\"app.bsky.feed.defs#threadViewPost\",\"post\":{\"uri\":\"at://did:plc:ic6zqvuw5ulmfpjiwnhsr2ns/app.bsky.feed.post/3k7qmjev5lr2s\",\"cid\":\"bafyreifk6pyilxkm7vcingnkdbzueaftqg54i3al4zbh5p3jy3pryfkc3a\",\"author\":{\"did\":\"did:plc:ic6zqvuw5ulmfpjiwnhsr2ns\",\"handle\":\"soubhikbarari.bsky.social\",\"displayName\":\"Soubhik
        Barari\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:ic6zqvuw5ulmfpjiwnhsr2ns/bafkreigw22cywihgenkywtt74m4fy5vi5y5oyzzscmvymhhbi3jnhd55li@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-08-13T15:09:13.807Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2023-09-19T11:32:54.574Z\",\"embed\":{\"$type\":\"app.bsky.embed.images\",\"images\":[{\"alt\":\"\",\"image\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreictkyws7qbruuupes52t6k5o5o5qfggf7pm6urzz7dyty53gzu3h4\"},\"mimeType\":\"image/jpeg\",\"size\":851799}}]},\"facets\":[{\"features\":[{\"$type\":\"app.bsky.richtext.facet#link\",\"uri\":\"http://localview.net\"}],\"index\":{\"byteEnd\":153,\"byteStart\":140}},{\"features\":[{\"$type\":\"app.bsky.richtext.facet#link\",\"uri\":\"https://rstats.ai/gov.html\"}],\"index\":{\"byteEnd\":275,\"byteStart\":257}}],\"langs\":[\"en\"],\"text\":\"Excited
        to be a speaker for the \\n@rstatsai conf on Oct 19 @Georgetown! \U0001F4C8
        I'll be debuting a new version (and applications) of LocalView (localview.net),
        a local civic data platform I co-built. Come say hi if you’re around the beltway!✨#rstats
        #rgov\\n\\nrstats.ai/gov.html\"},\"embed\":{\"$type\":\"app.bsky.embed.images#view\",\"images\":[{\"thumb\":\"https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:ic6zqvuw5ulmfpjiwnhsr2ns/bafkreictkyws7qbruuupes52t6k5o5o5qfggf7pm6urzz7dyty53gzu3h4@jpeg\",\"fullsize\":\"https://cdn.bsky.app/img/feed_fullsize/plain/did:plc:ic6zqvuw5ulmfpjiwnhsr2ns/bafkreictkyws7qbruuupes52t6k5o5o5qfggf7pm6urzz7dyty53gzu3h4@jpeg\",\"alt\":\"\"}]},\"replyCount\":0,\"repostCount\":0,\"likeCount\":4,\"quoteCount\":0,\"indexedAt\":\"2023-09-19T11:32:54.574Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]},\"replies\":[],\"threadContext\":{}}}"
  recorded_at: 2025-05-19 17:41:34
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
