http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getLikes?uri=at%3A%2F%2Fdid%3Aplc%3Aic6zqvuw5ulmfpjiwnhsr2ns%2Fapp.bsky.feed.post%2F3k7qmjev5lr2s
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2987'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"likes\":[{\"actor\":{\"did\":\"did:plc:uzthbl6ktojhxfpzb4hrvilk\",\"handle\":\"fkjoeller.bsky.social\",\"displayName\":\"Frederik
        Kjøller\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:uzthbl6ktojhxfpzb4hrvilk/bafkreicgg35wnbtyktxsjilfqtffefh4ne7huo3ewtwo36k6aeozfykwli@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-09-23T00:42:53.413Z\",\"description\":\"Postdoc
        in Political Science, University of Copenhagen • casually and causally studying
        politicians’ rewards, representation, and careers • fkjoeller.github.io\",\"indexedAt\":\"2024-11-24T16:02:38.209Z\"},\"createdAt\":\"2023-09-23T00:44:02.135Z\",\"indexedAt\":\"2023-09-23T00:44:02.135Z\"},{\"actor\":{\"did\":\"did:plc:46yyakot3byghwqc6rhmqzqd\",\"handle\":\"favstats.eu\",\"displayName\":\"Fabio
        Votta\U0001F4CA\U0001F427 \",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:46yyakot3byghwqc6rhmqzqd/bafkreib7erx36sgry67q4hvonroqkcpasogsagrkwg7h2kqg3nupnmc4rq@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-08-21T12:52:55.127Z\",\"description\":\"Computational
        Communication Scientist #rstats | Postdoc Researcher @UvA_ASCoR | Blog: favstats.eu
        |  Running on plant-based fuel \U0001F331 | he/him\",\"indexedAt\":\"2025-04-06T19:30:45.264Z\"},\"createdAt\":\"2023-09-19T15:30:19.924Z\",\"indexedAt\":\"2023-09-19T15:30:19.924Z\"},{\"actor\":{\"did\":\"did:plc:p7flpn65bzf3kzjrp2xftshq\",\"han[...]
