http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.searchPosts?q=redistricting
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2983'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"posts\":[{\"uri\":\"at://did:plc:kkergqgbhb56ptpwj2wenkje/app.bsky.feed.post/3lpk2u6qo222m\",\"cid\":\"bafyreicfzantnhto2yqgukytzgemg4bk7wi4yaojgk7ozdeq67uvsgfcqm\",\"author\":{\"did\":\"did:plc:kkergqgbhb56ptpwj2wenkje\",\"handle\":\"socpaperbot.bsky.social\",\"displayName\":\"Sociology
        papers (journals + SocArXiv)\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:kkergqgbhb56ptpwj2wenkje/bafkreihv2u6zfksev7jnfsd65t3hbzajmw7kw2s22gcxajyynekc4cljpi@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-09-04T11:55:00.863Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-19T17:10:09.561858Z\",\"facets\":[{\"features\":[{\"$type\":\"app.bsky.richtext.facet#link\",\"uri\":\"https://osf.io/v87fn\"}],\"index\":{\"byteEnd\":85,\"byteStart\":65}}],\"text\":\"Ends
        Versus Means: Public Opinion on Congressional Redistricting https://osf.io/v87fn
        State-level redistricting processes shape congressional elections and representation,
        and recent reform efforts have propelled congressional redistricting procedures
        into mainstream political discussion  #sociology\"},\"replyCount\":0,\"repostCount\":0,\"likeCount\":0,\"quoteCount\":0,\"indexedAt\":\"2025-05-19T17:10:09.813Z\",\"viewer\":{\"threadMuted\":false,\"embeddingDisabled\":false},\"labels\":[]},{\"uri\":\"at://did:plc:s7savtl25cqhm3ddqc7jeljx/app.bsky.feed.post/3lpk2r5h5ec2j\",\"cid\":\"bafyreid5xizjatchg3cdddekg6e53tdj4xcvuyrbzcf3zqq4pfzncco7iy\",\"author\":{\"did\":\"did:plc:s7savtl25cqhm3ddqc7jeljx\",\"handle\":\"cjtackett.bsky.social\",\"displayName\":\"Chris
        Tackett\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:s7savtl25cqhm3ddqc7jeljx/bafkreieqxzi4zstau5il455lkwonnnqh6pivnry4q2o4gelcx6lkpdehqq@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-11-08T23:56:14.216Z\"},\"record\":{\"$type\":\"app.bsky.feed.post\",\"createdAt\":\"2025-05-19T17:08:27.677Z\",\"embed\":{\"$type\":\"app.bsky.embed.external\",\"external\":{\"description\":\"We
        are fighting a mid-cycle redistricting push in Tarrant County, led by Tarrant
        County Judge Tim O’Hare and Commissioners Matt Krause and Manny Ramirez.\",\"thumb\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreidiaum3q4numtazcdcgpbpcnll2pqlruycn66wei5ombhvzgo6tnu\"},\"mimeType\":\"image/jpeg\",\"size\":152656},\"title\":\"The
        Pawn or the Collaborator?\",\"uri\":\"https://open.substack.com/pub/christackett/p/the-pawn-or-the-collaborator?r=92vnq&utm_medium=ios\"}},\"facets\":[{\"features\":[{\"$type\":\"app.bsky.richtext.facet#link\",\"uri\":\"https://open.substack.com/pub/christackett/p/the-pawn-or-the-collaborator?r=92vnq&utm_medium=ios\"}],\"index\":{\"byteEnd\":265,\"byteStart\":232}}],\"langs\":[\"en\"],\"text\":\"I
        dove into the RIDICULOUS op-ed sent into the Fort Worth Star Telegram by Tarrant
        County Commissioner Manny Ramirez supporting Redistricting.\\n\\nPlease give
        it a read, and if you are in Tarrant or know someone in Tarrant, share it!\\n\\nopen.substack.com/pub/christac...\"},\"embed\":{\"$type\":\"app.bsky.embed.external#view\",\"external\":{\"uri\":\"https://open.substack.com/pub/christackett/p/the-pawn-or-the-collaborator?r=92vnq&utm_medium=ios\",\"[...]
