http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.feed.getTimeline
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2981'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-repo-rev: 3lpis5o776z2g
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"feed":[{"post":{"uri":"at://did:plc:qnzaaisqa3lafzmtjxt5nt52/app.bsky.feed.post/3lpk3nnns5u2b","cid":"bafyreig4tpekqkfrc4mgzogi6psjufioubsyqhs4hdufawl5k5ceydtuqa","author":{"did":"did:plc:qnzaaisqa3lafzmtjxt5nt52","handle":"cranupdates.bsky.social","displayName":"CRAN
        Updates","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:qnzaaisqa3lafzmtjxt5nt52/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false,"following":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3kgupfuy76i24","followedBy":"at://did:plc:qnzaaisqa3lafzmtjxt5nt52/app.bsky.graph.follow/3kgupg5wvty2d"},"labels":[],"createdAt":"2023-12-19T03:01:43.626Z"},"record":{"$type":"app.bsky.feed.post","createdAt":"2025-05-19T17:24:22.643828Z","embed":{"$type":"app.bsky.embed.external","external":{"$type":"app.bsky.embed.external","description":"Bayesian
        clustering of spatial regions with similar functional shapes using spanning
        trees and latent Gaussian models. The method enforces spatial contiguity within
        clusters and supports a wide range of latent Gaussian models, including non-Gaussian
        likelihoods, via the R-INLA framework. The algorithm is based on Zhong, R.,
        Chacón-Montalván, E. A., and Moraga, P. (2024) &lt;<a href=\"https://doi.org/10.48550%2FarXiv.2407.12633\"
        target=\"_top\">doi:10.48550/arXiv.2407.12633</a>&gt;, extending the approach
        of Zhang, B., Sang, H., Luo, Z. T., and Huang, H. (2023) &lt;<a href=\"https://doi.org/10.1214%2F22-AOAS1643\"
        target=\"_top\">doi:10.1214/22-AOAS1643</a>&gt;. The package includes tools
        for model fitting, convergence diagnostics, visualization, and summarization
        of clustering results.","thumb":{"$type":"blob","ref":{"$link":"bafkreigbupsladrvg6jecfm4i3hdidoptsowgq66wigcyktq2tlhxmbowy"},"mimeType":"image/png","size":86351},"title":"sfclust:
        Bayesian Spatial Functional Clustering","uri":"https://CRAN.R-project.org/package=sfclust"}},"facets":[{"features":[{"$type":"app.bsky.richtext.facet#link","uri":"https://CRAN.R-project.org/package=sfclust"}],"index":{"byteEnd":80,"byteStart":38}}],"text":"New
        on CRAN: sfclust (1.0.1). View at https://CRAN.R-project.org/package=sfclust"},"embed":{"$type":"app.bsky.embed.external#view","external":{"uri":"https://CRAN.R-project.org/package=sfclust","title":"sfclust:
        Bayesian Spatial Functional Clustering","description":"Bayesian clustering
        of spatial regions with similar functional shapes using spanning trees and
        latent Gaussian models. The method enforces spatial contiguity within clusters
        and supports a wide range of latent Gaussian models, including non-Gaussian
        likelihoods, via the R-INLA framework. The algorithm is based on Zhong, R.,
        Chacón-Montalván, E. A., and Moraga, P. (2024) &lt;<a href=\"https://doi.org/10.48550%2FarXiv.2407.12633\"
        target=\"_top\">doi:10.48550/arXiv.2407.12633</a>&gt;, extending the approach
        of Zhang, B., Sang, H., Luo, Z. T., and Huang, H. (2023) &lt;<a href=\"https://doi.org/10.1214%2F22-AOAS1643\"
        target=\"_top\">doi:10.1214/22-AOAS1643</a>&gt;. The package includes tools
        for model fitting, convergence diagnostics, visualization, and summarization
        of clustering results.","thumb":"https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:qnzaaisqa3lafzmtjxt5nt52/bafkreigbupsladrvg6jecfm4i3hdidoptsowgq66wigcyktq2tlhxmbowy@jpeg"}},"replyCount":0,"repostCount":0,"likeCount":0,"quoteCount":0,"indexedAt":"2025-05-19T17:24:24.224Z","viewer":{"threadMuted":false,"embeddingDisabled":false},"labels":[]}},{"post":{"uri":"at://did:plc:qnzaaisqa3lafzmtjxt5nt52/app.bsky.feed.post/3lpk3njaovr2v","cid":"bafyreievce3eor75z55jdunkr6sgfz3wvx4fv6qocukqlf6zoc2wb7ylxe","author":{"did":"did:plc:qnzaaisqa3lafzmtjxt5nt52","handle":"cranupdates.bsky.social","displayName":"CRAN
        Updates","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:qnzaaisqa3lafzmtjxt5nt52/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg","viewer":{"muted":false,"blockedBy":false,"following"[...]
