http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getActorStarterPacks?actor=pfrazee.com
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2979'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"starterPacks":[{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.starterpack/3l2stmy4ote2b","cid":"bafyreibam5j36gyqdwzw7hh2hvtluei2kkrc3isspt3dolbmxvukmcxwdi","record":{"$type":"app.bsky.graph.starterpack","createdAt":"2024-08-28T23:05:45.069Z","description":"Some
        great follows for techies","feeds":[],"list":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.list/3l2stmxoyd22f","name":"Tech
        Folks","updatedAt":"2024-08-28T23:17:52.889Z"},"creator":{"did":"did:plc:ragtjsm2j2vknwkz3zp4oxrd","handle":"pfrazee.com","displayName":"Paul
        Frazee","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:ragtjsm2j2vknwkz3zp4oxrd/bafkreihhpqdyntku66himwor5wlhtdo44hllmngj2ofmbqnm25bdm454wq@jpeg","associated":{"chat":{"allowIncoming":"following"}},"viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2022-11-17T00:35:16.391Z"},"joinedAllTimeCount":2,"joinedWeekCount":0,"labels":[],"indexedAt":"2024-08-28T23:05:45.069Z"},{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.starterpack/3kvaqmutnga2z","cid":"bafyreideyiblge2lrm4wtt4pgc2vh2e5d6ntaqsafquzjz3my6q2wiuk6e","record":{"$type":"app.bsky.graph.starterpack","createdAt":"2024-06-19T03:18:06.737Z","description":"A
        pretty good group of people to follow","feeds":[],"list":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.list/3kvaqmu5v4w2v","name":"Paul’s
        Starter Pack","updatedAt":"2024-08-13T19:00:20.289Z[...]
