http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getFollowers?actor=chriskenny.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2975'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"followers\":[{\"did\":\"did:plc:bv65fgjvl2xbzcpwbomsqahm\",\"handle\":\"kiarahernandezm.bsky.social\",\"displayName\":\"Kiara
        Hernandez\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:bv65fgjvl2xbzcpwbomsqahm/bafkreig5oy7anakdk3ru57e4ohnw2wiitjlx2lqkebqluw6ib245v5urti@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-11-20T03:47:49.503Z\",\"description\":\"PhD
        candidate studying work, inequality, collective action and political attitudes
        \\n\\nhttps://sites.harvard.edu/kiara-hernandez/\\n \",\"indexedAt\":\"2024-11-20T04:11:59.703Z\"},{\"did\":\"did:plc:5c2r73erhng4bszmxlfdtscf\",\"handle\":\"bskyr.bsky.social\",\"displayName\":\"bskyr
        R package\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:5c2r73erhng4bszmxlfdtscf/bafkreiesa772kej4tgvme7td67lxvd3j3l2spnznnaod7bx5fpepxf5htu@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-10-24T01:27:55.968Z\",\"description\":\"i'm
        an r package account for testing myself\",\"indexedAt\":\"20[...]
