http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getFollows?actor=chriskenny.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2974'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"follows\":[{\"did\":\"did:plc:kcuy3xb6uc6sapzsdotflgpp\",\"handle\":\"sunyoungpark.bsky.social\",\"displayName\":\"Sun
        Young Park\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:kcuy3xb6uc6sapzsdotflgpp/bafkreicwkkpb4px5crkgz4yqxbtxjnudoh37sjivueily4vq4slue5ax3q@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-12-08T01:42:11.208Z\",\"description\":\"PhD
        candidate, Harvard University, Department of Government\",\"indexedAt\":\"2025-04-08T18:44:37.043Z\"},{\"did\":\"did:plc:bv65fgjvl2xbzcpwbomsqahm\",\"handle\":\"kiarahernandezm.bsky.social\",\"displayName\":\"Kiara
        Hernandez\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:bv65fgjvl2xbzcpwbomsqahm/bafkreig5oy7anakdk3ru57e4ohnw2wiitjlx2lqkebqluw6ib245v5urti@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2024-11-20T03:47:49.503Z\",\"description\":\"PhD
        candidate studying work, inequality, collective ac[...]
