http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getSuggestedFollowsByActor?actor=chriskenny.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2976'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"isFallback\":true,\"suggestions\":[{\"did\":\"did:plc:bii5oena6gcqubtxd3ai3dwy\",\"handle\":\"kokomiyara.bsky.social\",\"displayName\":\"Koko\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:bii5oena6gcqubtxd3ai3dwy/bafkreidr6vyil7zc7h43apjhj2n6t6nffknvxyapddqhj2epslvfnaooa4@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2025-04-03T04:11:41.064Z\",\"description\":\"\U0001F6ABMAGA
        SUPPORTER\U0001F6ABPorn\\nHuman Rights \U0001F44D\\nDM only for sharing perspectives
        \U0001F44D\",\"indexedAt\":\"2025-05-17T22:17:53.607Z\"},{\"did\":\"did:plc:zhcfq6acrvb6ermtjt644w2n\",\"handle\":\"davidjbier.bsky.social\",\"displayName\":\"David
        Bier\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:zhcfq6acrvb6ermtjt644w2n/bafkreiai4ikmgxnuhfycyppc52biqbmqpqumrdihga46mhrdq5z46onzwe@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-10-06T16:56:23.131Z\",\"description\":\"Cato
        Institute, Director of Immigration Studies, BEER, not buyer. Cato, not CATO\",\"indexedAt\":\"2024-11-15T15:40:04.776Z\"},{\"did\":\"did:plc:yemdlplnzpos7ktm7qz3rjrq\",\"handle\":\"doomquasar.bsky.social\",\"displayName\":\"Simone
        de Rochefort\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:yemdlplnzpos7ktm7qz3rjrq/bafkreia2viv5w6ksrf223jfsjykothmwntqazdifphnqyod37f6wsttyfq@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-04-27T10:24:31.832Z\",\"description\":\"i’m
        thinking about cars\",\"indexedAt\":\"2025-03-25T04:37:59.947Z\"},{\"did\":\"did:plc:m6ynazjvzq2ulyvwsdvcnn63\",\"handle\":\"pinguteamsquidnmb.bsky.social\",\"displayName\":\"PenguinCommandoUK\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:m6ynazjvzq2ulyvwsdvcnn63/bafkreih5bcy74c6pxagfm2kujim3v7gz3fzmfpjztunwamhq3bldkph6nq@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"none\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[{\"src\":\"did:plc:m6ynazjvzq2ulyvwsdvcnn63\",\"uri\":\"at://did:plc:m6ynazjvzq2ulyvwsdvcnn63/app.bsky.actor.profile/self\",\"cid\":\"bafyreig4wfygm54tass54ygydk64n446ewleq4jtgiemo6tvpwiboks27i\",\"val\":\"!no-unauthenticated\",\"cts\":\"2025-05-12T00:49:30.728Z\"}],\"createdAt\":\"2025-05-12T00:49:31.606Z\",\"description\":\"8647\\nUK
        man who can\\nHere to fight the fascist right\\n\\nSlava Ukraini\\nResist
        Krasnov USA, fuck Putin, fuck Musk\\nHopefuly have some fun too\",\"indexedAt\":\"2025-05-18T22:01:43.809Z\"},{\"did\":\"did:plc:jagspzkxyduqjvmrivtcnfe4\",\"handle\":\"meadowsonh2o.bsky.social\",\"displayName\":\"Kerry
        Meadows\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:jagspzkxydu[...]
