http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getList?list=at%3A%2F%2Fdid%3Aplc%3Aragtjsm2j2vknwkz3zp4oxrd%2Fapp.bsky.graph.list%2F3kmokjyuflk2g
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2973'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"list":{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.list/3kmokjyuflk2g","cid":"bafyreiabh7fm53pnuda5zx42hhcjpdjgs7emhky25bt6fwx7xui2ob5n5u","name":"Software
        curate","purpose":"app.bsky.graph.defs#curatelist","listItemCount":10,"indexedAt":"2024-03-02T02:19:39.522Z","labels":[],"viewer":{"muted":false},"creator":{"did":"did:plc:ragtjsm2j2vknwkz3zp4oxrd","handle":"pfrazee.com","displayName":"Paul
        Frazee","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:ragtjsm2j2vknwkz3zp4oxrd/bafkreihhpqdyntku66himwor5wlhtdo44hllmngj2ofmbqnm25bdm454wq@jpeg","associated":{"chat":{"allowIncoming":"following"}},"viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2022-11-17T00:35:16.391Z","description":"Developer
        at Bluesky.","indexedAt":"2025-01-07T18:07:49.913Z"},"description":""},"items":[{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.listitem/3kmt5wplju42f","subject":{"did":"did:plc:4n25brjkwzbendwixetcrayj","handle":"farjanaeyasmin.bsky.social","displayName":"Farjana
        Eyasmin","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:4n25brjkwzbendwixetcrayj/bafkreihxigaasltvhzxkzyvozldtj6ua3f5l77yyqsm3xlhv2xwnhxb4oq@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[{"cts":"2024-03-11T20:30:22.831Z","neg":false,"src":"did:plc:ar7c4by46qjdydhdevvrndac","uri":"did:plc:4n25brjkwzbendwixetcrayj","val":"scam","ver":1}],"createdAt":"2024-03-03T16:06:21.660Z","description":"I''m
        an Affiliate Marketer. I''m with inter institute, JvZoo, WarriorPlus as an
        Affiliate.","indexedAt":"2024-03-03T16:09:56.808Z"}},{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.listitem/3kmom6aiybs2o","subject":{"did":"did:plc:7fjae5aawatnt5e4hyldxsyn","handle":"abhiksi.bsky.social","displayName":"","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2024-02-21T05:16:38.330Z","indexedAt":"2024-06-04T04:40:30.411Z"}},{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.listitem/3kmom57qjjd2f","subject":{"did":"did:plc:zxmhzvoiaulbteympusrbn5a","handle":"denisrasulev.bsky.social","displayName":"Denis
        Rasulev","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:zxmhzvoiaulbteympusrbn5a/bafkreidibe5cv6kkxyi3432a57rvog332lfdi7ahdum2e2mdhlojtbenje@jpeg","viewer":{"muted":false,"blockedBy":false},"labels":[],"createdAt":"2024-02-08T08:00:27.335Z","description":"30
        years in sales, building B2B teams and processes for startups and corporations.
        Hobbies: Exploring Life & Data, Python, reading, travel.","indexedAt":"2024-02-08T09:11:07.341Z"}},{"uri":"at://did:plc:ragtjsm2j2vknwkz3zp4oxrd/app.bsky.graph.listitem/3kmom4vsgsd2u","subject":{"did":"did:plc:tpveiks2to7tjacjzbjodaac","handle":"gilzilberfeld.bsky.social","displayName":"Gil
        Zilberfeld","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:tpveiks2to7tjacjzbjodaac/bafkreieqoppbw3nto2sd64u5eukk4gd3l2pft6ny5npi4csc3apnchcvc4@jpeg","viewer":{"muted":false,"blockedBy":false},"label[...]
