http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getStarterPacks?uris=at%3A%2F%2Fdid%3Aplc%3Awpe35pganb6d4pg4ekmfy6u5%2Fapp.bsky.graph.starterpack%2F3lb3g5veo2z2r
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2967'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: '{"starterPacks":[{"uri":"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.starterpack/3lb3g5veo2z2r","cid":"bafyreiaut4ogfmhjefrp5ivmxeyhfvcy6tkyrnji6l6iodextybwxx2qqu","record":{"$type":"app.bsky.graph.starterpack","createdAt":"2024-11-16T17:29:49.504Z","description":"Making
        a differences-in-differences in the world","feeds":[],"list":"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.list/3lb3g5v7zsn2u","name":"Political
        Methodologists","updatedAt":"2024-12-01T02:39:52.846Z"},"creator":{"did":"did:plc:wpe35pganb6d4pg4ekmfy6u5","handle":"chriskenny.bsky.social","displayName":"Chris
        Kenny","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:wpe35pganb6d4pg4ekmfy6u5/bafkreibbgv73dk7lk4qrij5xm7vri3m6hfgfxqylxbal6yau7ssieqav3a@jpeg","associated":{"chat":{"allowIncoming":"following"}},"viewer":{"muted":false,"blockedBy":false,"following":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3lpcvwevybs2p","followedBy":"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.follow/3kchl2sce7p2i"},"labels":[],"createdAt":"2023-09-19T15:47:01.417Z"},"joinedAllTimeCount":0,"joinedWeekCount":0,"labels":[],"indexedAt":"2024-12-01T02:39:53.074Z"}]}'
  recorded_at: 2025-05-19 17:41:47
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
