http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.graph.getStarterPack?starterPack=at%3A%2F%2Fdid%3Aplc%3Awpe35pganb6d4pg4ekmfy6u5%2Fapp.bsky.graph.starterpack%2F3lb3g5veo2z2r
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2968'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"starterPack\":{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.starterpack/3lb3g5veo2z2r\",\"cid\":\"bafyreiaut4ogfmhjefrp5ivmxeyhfvcy6tkyrnji6l6iodextybwxx2qqu\",\"record\":{\"$type\":\"app.bsky.graph.starterpack\",\"createdAt\":\"2024-11-16T17:29:49.504Z\",\"description\":\"Making
        a differences-in-differences in the world\",\"feeds\":[],\"list\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.list/3lb3g5v7zsn2u\",\"name\":\"Political
        Methodologists\",\"updatedAt\":\"2024-12-01T02:39:52.846Z\"},\"creator\":{\"did\":\"did:plc:wpe35pganb6d4pg4ekmfy6u5\",\"handle\":\"chriskenny.bsky.social\",\"displayName\":\"Chris
        Kenny\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:wpe35pganb6d4pg4ekmfy6u5/bafkreibbgv73dk7lk4qrij5xm7vri3m6hfgfxqylxbal6yau7ssieqav3a@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"following\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false,\"following\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.follow/3lpcvwevybs2p\",\"followedBy\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.follow/3kchl2sce7p2i\"},\"labels\":[],\"createdAt\":\"2023-09-19T15:47:01.417Z\"},\"joinedAllTimeCount\":0,\"joinedWeekCount\":0,\"labels\":[],\"indexedAt\":\"2024-12-01T02:39:53.074Z\",\"feeds\":[],\"list\":{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.list/3lb3g5v7zsn2u\",\"cid\":\"bafyreifdusl64pk6zhii7gm3hsddkr7ak7utork4oc3itjkcjfybukvfuy\",\"name\":\"Political
        Methodologists\",\"purpose\":\"app.bsky.graph.defs#referencelist\",\"listItemCount\":13,\"indexedAt\":\"2024-11-16T17:29:47.814Z\",\"labels\":[],\"viewer\":{\"muted\":false}},\"listItemsSample\":[{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.graph.listitem/3lc7lgg42pp2r\",\"subject\":{\"did\":\"did:plc:tb2bwzxom5qv4542ru3zqcgu\",\"handle\":\"jakemgrumbach.bsky.social\",\"displayName\":\"Jake
        Grumbach\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:tb2bwzxom5qv4542ru3zqcgu/bafkreihriguqdrjc5ximup7tw5ccjj7wq6swfak75gkeytqwcaowpvnqhi@jpeg\",\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-05-16T21:02:56.237Z\",\"description\":\"policy,
        $, political economy of race // 70-80s soul, 90s hip hop // #DubNation //
      [...]
