http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/app.bsky.notification.listNotifications
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2963'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      atproto-content-labelers: did:plc:ar7c4by46qjdydhdevvrndac;redact
    body:
      string: "{\"notifications\":[{\"uri\":\"at://did:plc:qy6jyj4tpbqb33a44wx4gsl5/app.bsky.feed.like/3lpe5oldeev2w\",\"cid\":\"bafyreifot4jwzgts5jxsiby5m6k54gq3wzwf5sbpbpctmxve2lv4zlappq\",\"author\":{\"did\":\"did:plc:qy6jyj4tpbqb33a44wx4gsl5\",\"handle\":\"wijama.bsky.social\",\"displayName\":\"William
        Martindale \",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:qy6jyj4tpbqb33a44wx4gsl5/bafkreifsqwginiex6leixkms546uue3eccebofi2abfouumapuu7bpxy6m@jpeg\",\"associated\":{\"chat\":{\"allowIncoming\":\"all\"}},\"viewer\":{\"muted\":false,\"blockedBy\":false},\"labels\":[],\"createdAt\":\"2023-08-03T05:59:12.927Z\",\"description\":\"Taiwanese-American
        MCEPA student at UC San Diego. Known as 馬凱威 to the other half of my family.
        I research conspiracy theories in the Chinese-speaking world. Follow me for
        bad jokes, stats nerd stuff, and updates on whatever I'm reading.\",\"indexedAt\":\"2024-11-14T23:51:29.773Z\"},\"reason\":\"like\",\"reasonSubject\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lpdf2hyvhd2m\",\"record\":{\"$type\":\"app.bsky.feed.like\",\"createdAt\":\"2025-05-17T08:44:44.457Z\",\"subject\":{\"cid\":\"bafyreibiviuzh3w62x2dyhihzp4n5dtuu6mc3pv5h6nxiyqzdarebtpjfa\",\"uri\":\"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lpdf2hyvhd2m\"}},\"isRead\":true,\"indexedAt\":\"2025-05-17T08:44:44.416Z\",\"labels\":[]},{\"uri\":\"at://did:plc:kugxzv2vbv6xkjwjorepgzm4/app.bsky.feed.like/3lpe3kvvql52n\",\"cid\":\"bafyreie7tmbaevi3nz45v77tzb32dz7u3yyzu3lcc5ocs3oiecw5wvbulq\",\"author\":{\"did\":\"did:plc:kugxzv2vbv6xkjwjorepgzm4\",\"handle\":\"oberman.bsky.social\",\"displayName\":\"Hanne
        Oberman\",\"avatar\":\"https://cdn.bsky.app/img/avatar/plain/did:plc:kugxzv2vbv6xkjwjorepgzm4/bafkreicozbmtst4kjiddcurjqvc7fhentin2wi6gh2ayvjb3e5uuouxfiq@jpe[...]
