http_interactions:
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2999'
      RateLimit-Reset: '1747685799'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.like/3lpkeypxcth2a","cid":"bafyreiduipgaed62usljqlyw5ab6it5q67bylubplungrrw56y5pql4kpa","commit":{"cid":"bafyreihbkmp3gnwpk23ce5n477jxscefib4uy6ybpclsyhznszvun3a7om","rev":"3lpkeypxufx2a"},"validationStatus":"valid"}'
  recorded_at: 2025-05-19 20:11:39
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
