http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.repo.listRecords?repo=did%3Aplc%3Awpe35pganb6d4pg4ekmfy6u5&collection=app.bsky.feed.post
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2958'
      RateLimit-Reset: '1747676784'
      RateLimit-Policy: 3000;w=300
      ETag: W/"c49e-Eph94yKqh+QsBFmRGmawl3htGOE"
    body:
      string: "{\"records\":[{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.feed.post/3lof7sovfok2h\",\"cid\":\"bafyreidgyvluiuegoiwctviyvw3ikiajujmukh2j5f5rc7lr6dam57v2ja\",\"value\":{\"text\":\"If
        you’re running this on GHA, you may now want to make sure magick is installed
        too, as the fix (I hope) for the extra background is live on CRAN now. magick
        is just a suggests for bskyr, so it may not be auto-installed.\",\"$type\":\"app.bsky.feed.post\",\"langs\":[\"en\"],\"reply\":{\"root\":{\"cid\":\"bafyreicdm7phlgq2kkzmcl3qwmi2b5lwzmkyh6m5wtddalfljx4bigzryi\",\"uri\":\"at://did:plc:z4cp3uwgxiioi7uaxn2boq47/app.bsky.feed.post/3lobj4swhjo2x\"},\"parent\":{\"cid\":\"bafyreicdm7phlgq2kkzmcl3qwmi2b5lwzmkyh6m5wtddalfljx4bigzryi\",\"uri\":\"at://did:plc:z4cp3uwgxiioi7uaxn2boq47/app.bsky.feed.post/3lobj4swhjo2x\"}},\"createdAt\":\"2025-05-05T01:30:17.912Z\"}},{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.feed.post/3loagm2phgk2t\",\"cid\":\"bafyreihmbaazzyamwdqwbon7o7qpyuqt7egmmj6s7sred4myfb74jz5f2u\",\"value\":{\"text\":\"#rstats
        `bskyr` 0.3.0 is now on CRAN. Changelog below! See details at  christophertkenny.com/bskyr/news/i...
        and install with `pak::pak('bskyr')`.\",\"$type\":\"app.bsky.feed.post\",\"embed\":{\"$type\":\"app.bsky.embed.recordWithMedia\",\"media\":{\"$type\":\"app.bsky.embed.images\",\"images\":[{\"alt\":\"\",\"image\":{\"$type\":\"blob\",\"ref\":{\"$link\":\"bafkreiddvkgel6hcfrwzkcm3l2tclrhryrlmcczhxigwkcowi37wt5a5by\"},\"mimeType\":\"image/jpeg\",\"size\":153913},\"aspectRatio\":{\"width\":652,\"height\":348}}]},\"record\":{\"$type\":\"app.bsky.embed.record\",\"record\":{\"cid\":\"bafyreiapdnm57z2yaf4ninh4orc7pcswl2xfh6bysz2vbaw2stxjm6znqy\",\"uri\":\"at://did:plc:qnzaaisqa3lafzmtjxt5nt52/app.bsky.feed.post/3loacnvvpgn22\"}}},\"langs\":[\"en\"],\"facets\":[{\"index\":{\"byteEnd\":7,\"byteStart\":0},\"features\":[{\"tag\":\"rstats\",\"$type\":\"app.bsky.richtext.facet#tag\"}]},{\"index\":{\"byteEnd\":108,\"byteStart\":71},\"features\":[{\"uri\":\"https://christophertkenny.com/bskyr/news/index.html\",\"$type\":\"app.bsky.richtext.facet#link\"}]}],\"createdAt\":\"2025-05-03T03:48:32.922Z\"}},{\"uri\":\"at://did:plc:wpe35pganb6d4pg4ekmfy6u5/app.bsky.feed.post/3lo7t2k53qs2q\",\"cid\":\"bafyreig3fhofqranjjurlrqdqssxafdtxkjp5p4fcem3mt4ibzdh2ys3ry\",\"value\":{\"text\":\"Yes,
        so you type in Quarto's markdown for[...]
