http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.identity.resolveHandle?handle=bskyr.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2988'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"2a-luAFB8RVHExhMydjtdU+UckvPJs"
    body:
      string: '{"did":"did:plc:5c2r73erhng4bszmxlfdtscf"}'
  recorded_at: 2025-05-22 14:39:58
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.repo.getRecord?repo=bskyr.bsky.social&collection=app.bsky.feed.post&rkey=3kexwuoyqj32g
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2987'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"282-idz0cQf0rRIuaBdksKBtCqhTJ3g"
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kexwuoyqj32g","cid":"bafyreid4i763c2iyr6adhmgriiisz2p7gleztu7tn66pfrl3qhe4hgoyny","value":{"text":"Test
        post of urls and mentions for r package `bskyr` via @bskyr.bsky.social (https://christophertkenny.com/bskyr/)","$type":"app.bsky.feed.post","facets":[{"index":{"byteEnd":75,"byteStart":57},"features":[{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","$type":"app.bsky.richtext.facet#mention"}]},{"index":{"byteEnd":113,"byteStart":77},"features":[{"uri":"https://christophertkenny.com/bskyr/","$type":"app.bsky.richtext.facet#link"}]}],"createdAt":"2023-11-25T00:32:48.655755Z"}}'
  recorded_at: 2025-05-22 14:39:58
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.repo.getRecord?repo=bskyr.bsky.social&collection=app.bsky.feed.post&rkey=3kf24wd6cmb2a
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2986'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"3b7-I1UEU4X0pLzE8YG0dPefLAxUTqs"
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kf24wd6cmb2a","cid":"bafyreiclvbut74gpys3psh3iqpzh5wdk2rgiyt35iudrkjyp62w2t5i44i","value":{"text":"Test
        self-reply from r package `bskyr` via @bskyr.bsky.social (https://christophertkenny.com/bskyr/)","$type":"app.bsky.feed.post","reply":{"root":{"cid":"bafyreid4i763c2iyr6adhmgriiisz2p7gleztu7tn66pfrl3qhe4hgoyny","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kexwuoyqj32g"},"parent":{"cid":"bafyreid4i763c2iyr6adhmgriiisz2p7gleztu7tn66pfrl3qhe4hgoyny","uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3kexwuoyqj32g"}},"facets":[{"index":{"byteEnd":61,"byteStart":43},"features":[{"did":"did:plc:5c2r73erhng4bszmxlfdtscf","$type":"app.bsky.richtext.facet#mention"}]},{"index":{"byteEnd":99,"byteStart":63},"features":[{"uri":"https://christophertkenny.com/bskyr/","$type":"app.bsky.richtext.facet#link"}]}],"createdAt":"2023-11-25T21:26:25.338233Z"}}'
  recorded_at: 2025-05-22 14:39:59
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.uploadBlob
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2985'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"blob":{"$type":"blob","ref":{"$link":"bafkreiak7tto2scyh6arlg3igu2snhg6fgytn22ett63vvylys2kui2rxq"},"mimeType":"image/png","size":17396}}'
  recorded_at: 2025-05-22 14:39:59
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2984'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lprdufw3f62u","cid":"bafyreigynmva2yqfugfrtvnwz4nhgnytm7vqjs3qvl7xrqq5sm4zm3hjlu","commit":{"cid":"bafyreichrnw4hr3zpzy7m76bmq74uot76hwwoxnuvlsbqhsgd33h63xkgq","rev":"3lprdufwbao2u"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:39:59
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
