http_interactions:
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2997'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lpres4gwbf27","cid":"bafyreifokei3sravpoaoj46ezsbcascps6gdn5pb4ytm6ofqiduoa4wkai","commit":{"cid":"bafyreieclctj7egfrzbkmyxpi2tdfuquzmmxmwmilalcdl7hpsx5dzyhvq","rev":"3lpres4h44v27"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:36
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.deleteRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2996'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"commit":{"cid":"bafyreigu4x5aljkkyplvfkv6bp6zlbliwr6muvg7sp5ncbq6ou56qkgu3e","rev":"3lpres4lgsf2k"}}'
  recorded_at: 2025-05-22 14:56:36
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
