http_interactions:
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2968'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.list/3lpres7yxpn2j","cid":"bafyreibjy65v3zvlcnwecggyh3pfk4tn65snmnzdkcc2utqxnewbj4ogba","commit":{"cid":"bafyreicgz7gxb2g6maoczmnitlvqpudlfupdqkqdskjzfuep7vjssre27y","rev":"3lpres7z4lv2j"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:40
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
