http_interactions:
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2960'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.list/3lprescs2fa2y","cid":"bafyreievjbcbfpovm7qewjwdy4hi6u5go5cty4irmpbkl2gbskcdf3s3pa","commit":{"cid":"bafyreiee5azd4kaqf4yh3iujhfopvx66632buff3de67bozogssnnee5ne","rev":"3lprescsaaq2y"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:43
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2959'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.starterpack/3lprescvqfj2t","cid":"bafyreifhst5mmms5z3wilyw224wpitpem7evhubvhegowi5cqt2mpmis6e","commit":{"cid":"bafyreidtwd72f62iq5fgth5vg4fwzfkc6cur6f7e3szxnx7y27womxhydq","rev":"3lprescvxab2t"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:43
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
