http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.identity.resolveHandle?handle=nytimes.com
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2987'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"2a-Damj123YMB6zT8hUgSWuQnJV3rs"
    body:
      string: '{"did":"did:plc:eclio37ymobqex2ncko63h4r"}'
  recorded_at: 2025-05-22 14:56:37
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2986'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.block/3lpres5sayf27","cid":"bafyreiee3orcqf64ovygvvre3i2zogu7uyheoppjlf4z3zbqpea6wmaxga","commit":{"cid":"bafyreigrocpdulsmqm6j7wvpiftqwhydibv3azc2ashlf4yx56wd5njdtu","rev":"3lpres5sisf27"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:37
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.deleteRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2985'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"commit":{"cid":"bafyreie2hus7nrbcbdzvpead6hu4xxnfda6lka47i4q2t5zsrcriegle6y","rev":"3lpres5v7ri2w"}}'
  recorded_at: 2025-05-22 14:56:37
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.deleteRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2984'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{}'
  recorded_at: 2025-05-22 14:56:37
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
