http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.identity.resolveHandle?handle=nytimes.com
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2999'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"2a-Damj123YMB6zT8hUgSWuQnJV3rs"
    body:
      string: '{"did":"did:plc:eclio37ymobqex2ncko63h4r"}'
  recorded_at: 2025-05-22 14:56:36
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2998'
      RateLimit-Reset: '1747926095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.graph.block/3lpres4de2y2w","cid":"bafyreif7uk73zifrt352sto7rkoifb2wvsztdj6h7tdnebayfd4gmdmzki","commit":{"cid":"bafyreidloujjek5u65ahzeiyavnu2jsxhgo5eynzfnpb5pumt7g3bjqzh4","rev":"3lpres4dluy2w"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:56:36
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
