http_interactions:
- request:
    method: GET
    uri: https://bsky.social/xrpc/com.atproto.identity.resolveHandle?handle=bskyr.bsky.social
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2999'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
      ETag: W/"2a-luAFB8RVHExhMydjtdU+UckvPJs"
    body:
      string: '{"did":"did:plc:5c2r73erhng4bszmxlfdtscf"}'
  recorded_at: 2025-05-22 14:39:56
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.uploadBlob
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2998'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"blob":{"$type":"blob","ref":{"$link":"bafkreiak7tto2scyh6arlg3igu2snhg6fgytn22ett63vvylys2kui2rxq"},"mimeType":"image/png","size":17396}}'
  recorded_at: 2025-05-22 14:39:56
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2997'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lprdud4gi72i","cid":"bafyreigcnevmpmw3v6u7rtyhxwyjbbu3dlklcyg5b4p2aq7abvfwnpqx3a","commit":{"cid":"bafyreiaqrua57l36yqpd742ctgyra2p5hiofec3jqjrufjlwznqqgbagyy","rev":"3lprdud4ncx2i"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:39:56
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
