http_interactions:
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.uploadBlob
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2980'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"blob":{"$type":"blob","ref":{"$link":"bafkreiak7tto2scyh6arlg3igu2snhg6fgytn22ett63vvylys2kui2rxq"},"mimeType":"image/png","size":17396}}'
  recorded_at: 2025-05-22 14:40:00
- request:
    method: POST
    uri: https://bsky.social/xrpc/com.atproto.repo.createRecord
  response:
    status: 200
    headers:
      Content-Type: application/json; charset=utf-8
      RateLimit-Limit: '3000'
      RateLimit-Remaining: '2979'
      RateLimit-Reset: '1747925095'
      RateLimit-Policy: 3000;w=300
    body:
      string: '{"uri":"at://did:plc:5c2r73erhng4bszmxlfdtscf/app.bsky.feed.post/3lprdugwhey2i","cid":"bafyreidlj2ovxftwrjqitrscfounpcxvkchlar5wn3xvo6i2l5jsjkg4vu","commit":{"cid":"bafyreieyl3265rqt2wkf2djlxtw5nnt2dpu4nzfwaun75cya2lpktuqody","rev":"3lprdugwmba2i"},"validationStatus":"valid"}'
  recorded_at: 2025-05-22 14:40:00
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
