http_interactions:
- request:
    method: GET
    uri: https://puffball.us-east.host.bsky.network/xrpc/com.atproto.server.getServiceAuth?aud=did%3Aweb%3Avideo.bsky.app&lxm=app.bsky.video.getUploadLimits
  response:
    status: 200
    headers:
      ratelimit-limit: '3000'
      ratelimit-reset: '1780354771'
      ratelimit-remaining: '2999'
      ratelimit-policy: 3000;w=300
      content-type: application/json; charset=utf-8
      etag: W/"184-RDwjlIQc3ThlyZEJn48vPhTRSWo"
    body:
      string: '{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NksifQ.eyJpYXQiOjE3ODAzNTQ0NzEsImlzcyI6ImRpZDpwbGM6NWMycjczZXJobmc0YnN6bXhsZmR0c2NmIiwiYXVkIjoiZGlkOndlYjp2aWRlby5ic2t5LmFwcCIsImV4cCI6MTc4MDM1NDUzMSwibHhtIjoiYXBwLmJza3kudmlkZW8uZ2V0VXBsb2FkTGltaXRzIiwianRpIjoiZmVjOWNhODlmMjIxYmRiMTI3ZjYwYTA3NmRmOWM5YzQifQ.i5f0-TUev7nWq8uTyFLUd-yLrQtvof6lwb-QQOPTG0k9j1HjkqfaXykfQt_dsgGBq7cThfvcjcXEJvL7wwBXeQ"}'
  recorded_at: 2026-06-01 22:54:31
- request:
    method: GET
    uri: https://video.bsky.app/xrpc/app.bsky.video.getUploadLimits
  response:
    status: 200
    headers:
      content-type: application/json; charset=UTF-8
      cdn-pullzone: '5726081'
      cdn-requestcountrycode: US
      cdn-proxyver: '1.55'
      cdn-requestpullsuccess: 'True'
      cdn-requestpullcode: '200'
      cdn-cachedat: 06/01/2026 22:54:32
      cdn-edgestorageid: '871'
      cdn-requestid: d5d62e209abe6474f739d52b1f6c2dd9
      cdn-cache: MISS
      cdn-status: '200'
      cdn-requesttime: '0'
    body:
      string: |
        {"canUpload":true,"message":"User can upload","remainingDailyBytes":40000000000,"remainingDailyVideos":100}
  recorded_at: 2026-06-01 22:54:31
recorded_with: VCR-vcr/2.1.0
